<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="autoload.php">
    <testsuites>
        <testsuite name="LSYS Tests">
            <directory suffix="Test.php">./classes/TestLSYSVaild</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
         	<directory suffix=".php">../src/classes</directory>
        </whitelist>
    </filter>
    <logging>
      <log type="coverage-html" target="./report"/>
      <log type="coverage-clover" target="./report/clover.xml"/>
      <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
    </logging>
</phpunit>